*{
    padding: 0px;
    margin: 0px;
}
nav{
    display: flex;
    height: 56px;
    justify-content: space-between;
    align-items: center;
    Padding: 0px 24px 0px 24px;
    /* flex-wrap:wrap; */
}
nav ul{
    display: inline-flex;
    align-items: center;
}
li{
    display: inline-flex;
    margin-right: 24px;
    cursor: pointer;
}
.pesquisar{
    display: flex;
    align-items: center;
    border: 1px solid gray;
}

nav input{
    height:40px;
    width: 348px;
    border: none;
    border-right: 1px solid;
}

.search{
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.avatar{
    height: 34px;
    width: 34px;
    border-radius: 50%;
    cursor: pointer;
}
/* main  */
.slidebar{
    padding: 24px;
    display: block;
}
.slidebar li{
    padding-bottom: 16px;
    align-items: center;
}
.icon{
    padding-right: 24px;
}

.container{
    display: grid;
    grid-template-columns: 240px auto;
}
.conteudo{
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin-top: 24px;
    
}
.card{
   margin-bottom: 15px;
}

.video{
    cursor: pointer;
    margin: 10px;
}

.details{
    margin: 0px 10px 0px 10px;
    display: flex;
    align-items: flex-start;
}

.describe{
   padding: 5px;
   width: 50%;
}

.title{
    font-size: 14px;
    font-weight: 600;
    line-height: 16.41px;
    padding-bottom: 10px;
}
.description{
    color: rgba(81, 81, 81, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
}