*{
    padding: 0px;
    margin: 0px;
}
.banner{
    background-image: url('../images/fundoHeader.png'), 
    linear-gradient(
    rgba(0, 0, 0, 1),  
    rgb(9, 66, 90), 
    rgba(0, 0, 0, 0.9));
    Border: 0px, 0px, 1px, 0px;
    border-color: #33A8DB;
    text-align: center;
}
.banner-content {
    display: inline-block;
    padding-top: 56px;
    text-align: center;  
    width: 510px;
    
}
.banner-content h1{
    color:#33A8DB;
    font-size: 40px;
    font-weight: 900;
    line-height: 46.96px;
    
}
.banner-content p{
    color: #FFFFFF;
    font-size: 20px;
    margin-top: 20px;
}


.banner button{
    border: 2px solid;
    border-color: #33A8DB;
    Padding: 19px 91px 19px 91px;
    margin-top: 20px;
    margin-bottom: 40px;
    background: none;
    color: #33A8DB;
}

#course-content{
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px 25% 80px 25%; /* up right down left */
}
h2{
    color: #33A8DB;
    font-weight: 900;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.modules-list{
    margin: 15px;
}
.module{
    margin-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #252525;
    border-radius: 20px;
    padding: 10px;
    color: white;
}
.module span{
    color:#33A8DB;
}
#transform-world {
    background-image: url('../images/professional-projector.png');
    background-attachment: fixed;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom:5%
}
#transform-world p{
    width: 220px;
    font-size: 40px;
    line-height: 46.96px;
    font-weight: 900;
    text-shadow: 1px 1px 2px rgba(51, 168, 219, 1);
    color: white;
    text-transform: lowercase;
    margin-bottom: 5px;
   
}

#professional-challenges{
    background: black;
    color: white;
    padding: 80px 25% 80px 25%;
    text-align: center;
}

button{
    font-weight: 900;
}
button:hover{
    border: 2px solid;
    font-size: medium;
}
button:focus{
    font-size: small;
    color: #FFFFFF;
}
footer{
    color: #FFFFFF;
    background: linear-gradient(
    rgba(0, 0, 0, 1),  
    rgb(9, 66, 90), 
    rgba(0, 0, 0, 0.9));
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}

a{
    text-decoration: none;
    color: #33A8DB;
}