* {
    padding: 0px;
    margin: 0px;
}

header {
    background-image: url('../images/Header-Background.png');
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 459px;
    color: white;
    gap: 16px;
}
.header-content{
    padding: 0px 24% 0px 24%;
}
img{
    max-width: 100%;
}
h1 {
    line-height: 56px;
    font-size: 56px;
    font-weight: 400;
}
h2{
    color: rgba(35, 39, 42, 1);
    line-height: 54.47px;
    font-size: 40px;
    font-weight: 800;
}
p {
    font-family: sans-serif;
    line-height: 21.79px;
    font-size: 16px;
    font-weight: 400;
}

button {
    padding: 15px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    font-weight: 400;
}

button:hover {
    cursor: pointer;
    border: 1px solid;
}

.buttonBrowser {
    background-color: rgba(35, 39, 42, 1);
    color: white;
    margin: 10px;
}

main {
    text-align: center;
}

.content-1,
.content-2,
.content-3 {
    display: flex;
    align-items: center;

}

.content-1,
.content-2,
.content-3,
.content-4 {
    justify-content: center;
    margin: 10px;
    padding: 40px 0px 40px 0px;
    flex-wrap: wrap;
}

.content-2,
.content-4 {
    background-color: rgba(246, 246, 246, 1);
}

.content-4 div{
    padding-left: 20%;
    padding-right: 20%;
}

.describe{
    width: 350px;
    text-align: left;
}

footer {
    background-color: rgba(35, 39, 42, 1);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 134px;
}

@media (max-width: 480px) {

    h1 {
        text-align: left;
        font-size: 32px;
    }
    .header-content{
        padding: 0px 24px 0px 24px;
    }

    button {
        width: 90%;
    }

    .content-4 div{
        padding: 0px 24px 0px 24px;
        text-align: left;
    }
    p {
        font-size: 16px;
        text-align: left;
    }
}